@*@using Home2.Models;
@model HomeViewModel*@
@section header
{
    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {
        <label for="login">Login: </label>
        <input id="login" name="login" type="text" />
        <label for="password">Password: </label>
        <input id="password" name="password" type="password" />
        <button class="btn btn-danger" id="login" value="Sign in">Sign in</button>
    }
}
@using (Html.BeginForm("MakeOrder", "Home", FormMethod.Post))
{
    <label>Products</label>
    @Html.DropDownList("Products")
    <input id="quantity" type="number" name="quantity" min="1" max="5" value="1"><br>
    <input type="submit" value="MakeOrder" />
}


